---
import Card from "../../components/Card.astro";
---

<section class="projects">
    <h2>Projects</h2>
    <ul role="list" class="card-grid">
        <Card
            href="https://github.com/EvickaStudio/portfolio-website"
            title="Portfolio"
            body="The current website you are looking at. It is build using Astro with Svelte and TailwindCSS."
            imgSrc="https://cdn.evickastudio.de/static/media/portfolio.webp"
            badges={["astro", "tailwindcss"]}
        />
        <Card
            href="https://github.com/EvickaStudio/Moodle-Mate"
            title="MoodleMate"
            body="Program to fetch Moodle notifications at regular intervals, summarize their content, and send it to you via webhook to Discord."
            imgSrc="https://cdn.evickastudio.de/static/media/moodle_cover.svg"
            badges={["education", "python", "gpt-3", "gpt-4", "moodle"]}
        />
        <Card
            href="https://github.com/EvickaStudio/docs"
            title="Docs"
            body="A documentation website for projects build using the Astro Starlight Starter Kit."
            imgSrc="https://cdn.evickastudio.de/static/media/logo_light.svg"
            badges={["astro", "tailwindcss", "starlight", "documentation"]}
        />
        <Card
            href="https://github.com/EvickaStudio/PuzzelMVC"
            title="PuzzelMVC"
            body="A simple shuffle puzzle game in java using swing and the MVC pattern."
            imgSrc="https://cdn.evickastudio.de/static/media/render_simple.webp"
            badges={["java", "swing", "mvc"]}
        />
        <Card
            href="https://github.com/EvickaStudio/r2-explorer"
            title="R2 Explorer"
            body="A very simple Cloudflare R2 file explorer build using Python and PyQT6."
            imgSrc="https://cdn.evickastudio.de/static/media/render_simple.webp"
            badges={["python", "pyqt6", "cloudflare", "r2", "s3"]}
        />
    </ul>
</section>

<style>
    .card-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(100px, auto);
        gap: 20px;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .card-grid > *:nth-child(4n + 1) {
        grid-column: span 2;
        grid-row: span 2;
    }

    .card-grid > *:nth-child(4n + 4) {
        grid-column: span 2;
    }

    .card-grid > * {
        min-height: 300px;
    }

    .projects h2 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
        animation: fadeIn 1s ease-in-out;
    }
</style>
